/* 
  Colors:
  Brown - #B97F4C
  Light Green - #B6CA80
  Dark Green - #708E5B
  Dark Blue - #227C9D
  Light Blue - #8CD2DB
  White - #FFFFFF
  Black - #000000

  Fonts: 
  Logo - Berlin Sans
  Title - Bookman Old Style (Bold)
  Subtitle - Bookman Old Style (Regular)
  Paragraph - Ebrima 
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fa_custom {
  color: #ffffff;
}

h1 {
  font-family: 'Bookman Old Style';
  font-weight: bold;
}

h3 {
  font-family: 'Bookman Old Style';
}

body {
  font-family: 'Ebrima';
}

nav {
  background: #222;
  padding: 5px 20px;  
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  list-style-type: none;
}

.container li {
  font-size: 16px;
  padding: 15px 5px;
}

.container li a {
  display: block;
}

/* .container li a:hover {
  background-color: #8CD2DB;
  color: #000;
} */

.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Hero Banner */
.banner {
  background-color: #708E5B;
  max-height: 300px;
}

.banner-image {
  display: flex;
  flex-direction: column;
  background-image: url(https://i.imgur.com/7vmvflv.png);
  max-height: 240px;
  height: 50%;
  width: auto;
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: inherit;
  background-position:center center;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 768px) {
  .banner {
    max-height: 250px;
    width: auto;
  }
  .banner-image {
    background-image: url(https://i.imgur.com/LIUggP8.png);
    background-size: contain;
  }
  
}

/* Nav Bar */
  /* Mobile */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
  cursor: pointer;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

/* Tablet */
@media all and (min-width: 480px){
  .container {
    justify-content: center;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 0;
    flex: 1;
  }

  .button.secondary {
    border: none;
  }

  .button a {
    padding: 7px 15px;
    background: #227C9D;
    border: 2px solid #227C9D;
    border-radius: 50em;
  }

  .button.secondary a { 
    background: transparent;
  }

  .button a:hover {
    transition: all .25s;
  }
}

/* Desktop */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .container li {
    padding: 15px 10px;
  }

  .container li.button {
    padding-right: 0;
  }
}

/* Main Content */

/* Login/Signup */

/* Settings */
