/*
  Green Mind CSS Plan:
  Flexbox Model, favicons, and media queries.
  
  Colors:
  Brown - #B97F4C
  Light Green - #B6CA80
  Dark Green - #708E5B
  Dark Blue - #227C9D
  Light Blue - #8CD2DB
  White - #FFFFFF
  Black - #000000

  Fonts: 
  Logo - Berlin Sans
  Title - Bookman Old Style (Bold)
  Subtitle - Bookman Old Style (Regular)
  Paragraph - Ebrima
*/

/*Breakpoints*/

/*Hero Banner*/
.banner-image {
  display: flex;
  flex-direction: column;
  background-image: url();/*Need to make some private imgur links*/
  min-height: 240px;
  height: 50%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.banner-text {
  text-align: center;
  color: #FFFFFF;
}

.banner-header {
  align-self: center;
  font-size: 42px;
}
/*Nav Bar*/

/*Main Content*/

/*Login/Signup*/

/*Settings*/