/* 
  Colors:
  Brown - #B97F4C
  Light Green - #B6CA80
  Dark Green - #708E5B
  Dark Blue - #227C9D
  Light Blue - #8CD2DB
  White - #FFFFFF
  Black - #000000

  Fonts: 
  Logo - Berlin Sans
  Title - Bookman Old Style (Bold)
  Subtitle - Bookman Old Style (Regular)
  Paragraph - Ebrima 
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fa_custom {
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Bookman Old Style';
  font-weight: bold;
}

h3 {
  font-family: 'Bookman Old Style';
}

body {
  font-family: 'Ebrima';
  background-color: #D7E0D2;
}

nav {
  background: #222;
  padding: 5px 20px;  
}

nav a {
  color: #FFF;
  text-decoration: none;
}

/* nav a:hover {
  color: #227C9D;
} */

.container {
  list-style-type: none;
}

.container li {
  font-size: 16px;
  padding: 15px 5px;
}

.container li a {
  display: block;
}

.button .secondary {
  border-bottom: 1px #444 solid;
}

/* Hero Banner */
.banner {
  background-color: #708E5B;
  max-height: 300px;
}

.banner-image {
  display: flex;
  flex-direction: column;
  background-image: url(https://i.imgur.com/7vmvflv.png);
  max-height: 225px;
  height: 50%;
  width: auto;
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: inherit;
  background-position:center center;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 768px) {
  .banner {
    max-height: 200px;
    width: auto;
    height: auto;
  }
  .banner-image {
    background-image: url(https://i.imgur.com/LIUggP8.png);
    background-size: contain;
    max-height: 185px;
    width: auto;
  }
  
}

/* Nav Bar */
  /* Mobile */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
  cursor: pointer;
}

.item .button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item .selected a {
  color: #8CD2DB;
  text-decoration: underline;
}

.item a:hover {
  color: #227C9D;
}

.item .active {
  display: block;
}

/* Tablet */
@media all and (min-width: 480px){
  .container {
    justify-content: center;
  }
  .item .button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 0;
    flex: 1;
  }

  .button .secondary {
    border: none;
  }

  .button a {
    padding: 7px 15px;
    background: #227C9D;
    border: 2px solid #227C9D;
    border-radius: 50em;
  }

  .button .secondary a { 
    background: transparent;
  }

  .button a:hover {
    transition: all .25s;
    color: #ffffff;
    text-decoration: underline;
  }
}

/* Desktop */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .container li {
    padding: 15px 10px;
  }

  .container li .button {
    padding-right: 0;
  }
}

/* Main Content */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  flex-direction: column;
}

.card {
  width: 100%;
  max-width: 900px;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.imgBox, .imgBoxFull {
  min-width: 500px;
  max-width: 500px;
  height: 480px;
  transform: translateX(-120px);
  position: relative;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.imgBoxFull img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.content .title {
  margin: 24px 0 32px;
  font-size: 32px;
  color: #708E5B;
}

.content .text {
  margin-bottom: 48px;
  font-size: 20px;
}

.content ul {
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 48px;
}

.content .source {
  display: inline-block;
  padding: 10px 20px;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #227C9D;
  border-radius: 50em;
  text-decoration: none;
}

.content .source:hover {
  color: #000000;
  background-color: #8CD2DB;
}

@media screen and (max-width: 960px) {
  .card {
    max-width: 750px;
  }
  
  .imgBox, .imgBoxFull {
    min-width: 450px;
    max-width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    padding: 20px;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .imgBox, .imgBoxFull {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -50px);
  }
}

/* Login/Signup */

.formBox {
  width: 400px;
  padding: 40px;
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  text-align: center;
}

.formBox h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
}

.formBox input[type="text"], .formBox input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #227C9D;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #ffffff;
  border-radius: 50em;
  transition: 0.25s;
}

.formBox input[type="text"]:focus, .formBox input[type="password"]:focus {
  width: 250px;
  border-color: #B6CA80;
}

.formBox input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #B6CA80;
  padding: 14px 40px;
  outline: none;
  color: #ffffff;
  border-radius: 50em;
  transition: 0.25s;
  cursor: pointer;
}

.formBox input[type="submit"]:hover {
  background: #B6CA80;
}

/* Back to Top button */
.backToTop {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #222;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  border: none;
  border-radius: 50em;
  cursor: pointer;
}

/* Social Media Buttons */
.socialMenu ul {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.socialMenu ul li {
  list-style: none;
  margin: 0 15px;
}

.socialMenu ul li .fab { 
  font-size: 24px;
  line-height: 48px;
  transition: .5s;
  color: #ffffff;
}

.socialMenu ul li .fab:hover {
  color: #ffffff;
}

.socialMenu ul li a {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50em;
  background-color: #222;
  text-align: center;
  transition: .5s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
}

.socialMenu ul li a:hover {
  transform: translate(0, -10px);
}

.socialMenu ul li:nth-child(1) a:hover {
  background-color: #55acee;
}

.socialMenu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}

.socialMenu ul li:nth-child(3) a:hover {
  background-color: #010101;
}
/* Account */
.accountBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.accountBox input[type="text"], .accountBox input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #227C9D;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #222;
  border-radius: 50em;
  transition: 0.25s;
}

.accountBox input[type="text"]:focus, .accountBox input[type="password"]:focus {
  width: 250px;
  border-color: #B6CA80;
}

.accountBox input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #B6CA80;
  padding: 14px 40px;
  outline: none;
  color: #222;
  border-radius: 50em;
  transition: 0.25s;
  cursor: pointer;
}

.accountBox input[type="submit"]:hover {
  background: #B6CA80;
}
